html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 750px;
    width: 100%;
}
.header {
    background: #FCFCFC;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px 0;
}
.header-branding {
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    font-weight: 900;
    color: #111;
    transition: .35s;
    text-decoration: none;
}
a.header-branding:hover {
    color: #9181C8;
}
main.container {
    margin: 40px auto 100px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main#primary {
    margin: 40px auto 100px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content > p {
    text-align: center;
}
.list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.list-item {
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    overflow: hidden;
    display: flex;
    transition: .35s;
}
.list-item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.list-item:not(:last-child) {
    margin-bottom: 12px;
}
.list-item__info {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-item__box {
    padding: 12px 16px;
}
.list-item__img img {
    object-fit: cover;
    transition: .3s;
}
.list-item__img {
    height: 100px;
    width: 200px;
    overflow: hidden;
    position: relative;
}
.list-item__img:after {
    opacity: 0;
    visibility: hidden;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(207,207,227,1) 0%, rgba(0,212,255,1) 100%);
    transition: .3s;
}
.list-item__img:hover img {
    transform: rotate(30deg) scale(1.2);
}
.list-item__img:hover:after {
    opacity: 1;
    visibility: visible;
}
.list-item__main {
    background: #F5F5F5;
}
.list-item__desc p {
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin: 0;
}
.list-item__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #111;
    text-decoration: none;
    transition: .35s;
}
.list-item__title:hover {
    color: #9181C8;
}
.list-item__additional {
    color: #a7a7a7;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 28px;
}
.catalog-link {
    margin-top: 24px;
    font-size: 18px;
    line-height: 24px;
    transition: .35s;
    color: #111;
    text-decoration: none;
}
.catalog-link:hover {
    color: #9181C8;
}
.catalog-item {
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    transition: .35s;
    max-width: 500px;
}
.catalog-item:not(:last-child) {
    margin-bottom: 12px;
}
footer.footer {
    padding: 100px 40px;
    background: #212121;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
footer.footer .container {
    margin: 0 auto;
    font-weight: 900;
    color: #fff;
    text-align: center;
}